.search-result-item_1 {
  width: 100%;
  height: 9.0rem;
  background-color: #ffffff;
}

.search-result-item-image_1 {
  cursor: pointer;
  width: 8.0rem;
  height: 5.0rem;
  margin: 0 0 0 1.0rem;
}

.search-result-item-text_1 {
  width: 7.2rem;
  height: 2.5rem;
  font-size: 1.8rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 2.5rem;
  margin: 0 0 0 2.0rem;
  white-space: nowrap;
}

.search-result-item_2 {
  cursor: pointer;
}

.search-result-item-image_2 {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0 0 88.3rem;
}

.search-result-item-text_2 {
  width: 5.6rem;
  height: 2.0rem;
  font-size: 1.4rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 2.0rem;
  margin: 0 0 0 .6rem;
}

.search-result-item-text_2:hover {
  color: rgba(231, 0, 17, 1);
}

.search-result-item-image_3 {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0 0 1.9rem;
}

.search-result-item-button_1 {
  cursor: pointer;
  width: 12.0rem;
  height: 4.0rem;
  background: #333333;
  font-size: 1.4rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 2.0rem;
  margin: 0 0 0 2.0rem;
}

.search-result-item-button_1:hover {
  background: #ff9600;
}

.search-result-horizontal-line {
  width: 153.0rem;
  height: .1rem;
  border: .1rem solid #eeeff0;
  margin: -.2rem 0 0 1.0rem;
}

.search-result-horizontal-line:last-of-type {
  opacity: 0;
}
