.group_13 {
  height: 720px;
  background: url("./images/bj2.png")
    100% no-repeat;
  background-size: 100% 100%;
  width: 100vw;
}
.box_3 {
  background-color: rgba(255, 255, 255, 0.7);
  height: 498px;
  width: 1600px;
  margin: 111px 0 0 160px;
}
.text-wrapper_99 {
  width: 894px;
  height: 66px;
  margin: 107px 0 0 353px;
}
.text_28 {
  width: 894px;
  height: 66px;
  overflow-wrap: break-word;
  color: #D23028;
  font-size: 40px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 66px;
}
.group_14 {
  width: 1012px;
  height: 100px;
  margin: 96px 0 129px 313px;
}
.image_11 {
  width: 100px;
  height: 100px;
}
.image-text_7 {
  width: 72px;
  height: 56px;
  margin: 22px 0 0 20px;
}
.image_12 {
  width: 24px;
  height: 18px;
}
.text-group_8 {
  width: 72px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 20px;
}
.image_13 {
  width: 100px;
  height: 100px;
  margin-left: 81px;
}
.image-text_8 {
  width: 72px;
  height: 59px;
  margin: 19px 0 0 20px;
}
.label_7 {
  width: 24px;
  height: 24px;
}
.text-group_9 {
  width: 72px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 17px;
}
.image_14 {
  width: 100px;
  height: 100px;
  margin-left: 82px;
}
.section_1 {
  width: 72px;
  height: 59px;
  margin: 19px 0 0 20px;
}
.image_15 {
  width: 20px;
  height: 24px;
}
.text_29 {
  width: 72px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 17px;
}
.image_16 {
  width: 100px;
  height: 100px;
  margin-left: 81px;
}
.section_2 {
  width: 72px;
  height: 57px;
  margin: 21px 0 0 20px;
}
.label_8 {
  width: 24px;
  height: 21px;
}
.text_30 {
  width: 72px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 18px;
}



/* 电话信息 */
.phone-information-text-wrapper_1 {
  background-color: #D23028;
  height: 100px;
  width: 1920px;
}
.phone-information-text_1 {
  width: 610px;
  height: 66px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 66px;
  margin: 17px 0 0 589px;
}
