.group_13 {
  height: 72rem;
  background: url("./images/bj2.png")
    100% no-repeat;
  background-size: 100% 100%;
  width: 192rem;
}
.box_3 {
  background-color: rgba(255, 255, 255, 0.7);
  height: 49.8rem;
  width: 160rem;
  margin: 11.1rem 0 0 16rem;
}
.text-wrapper_99 {
  width: 89.4rem;
  height: 6.6rem;
  margin: 10.7rem 0 0 35.3rem;
}
.text_28 {
  width: 89.4rem;
  height: 6.6rem;
  overflow-wrap: break-word;
  color: #D23028;
  font-size: 4rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 6.6rem;
}
.group_14 {
  width: 101.2rem;
  height: 10.0rem;
  margin: 9.6rem 0 12.9rem 31.3rem;
}
.image_11 {
  width: 10.0rem;
  height: 10.0rem;
}
.image-text_7 {
  width: 7.2rem;
  height: 5.6rem;
  margin: 2.2rem 0 0 2.0rem;
}
.image_12 {
  width: 2.4rem;
  height: 1.8rem;
}
.text-group_8 {
  width: 7.2rem;
  height: 1.8rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.8rem;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 1.8rem;
  margin-top: 2.0rem;
}
.image_13 {
  width: 10.0rem;
  height: 10.0rem;
  margin-left: 8.1rem;
}
.image-text_8 {
  width: 7.2rem;
  height: 5.9rem;
  margin: 1.9rem 0 0 2.0rem;
}
.label_7 {
  width: 2.4rem;
  height: 2.4rem;
}
.text-group_9 {
  width: 7.2rem;
  height: 1.8rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.8rem;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 1.8rem;
  margin-top: 1.7rem;
}
.image_14 {
  width: 10.0rem;
  height: 10.0rem;
  margin-left: 8.2rem;
}
.section_1 {
  width: 7.2rem;
  height: 5.9rem;
  margin: 1.9rem 0 0 2.0rem;
}
.image_15 {
  width: 2.0rem;
  height: 2.4rem;
}
.text_29 {
  width: 7.2rem;
  height: 1.8rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.8rem;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 1.8rem;
  margin-top: 1.7rem;
}
.image_16 {
  width: 10.0rem;
  height: 10.0rem;
  margin-left: 8.1rem;
}
.section_2 {
  width: 7.2rem;
  height: 5.7rem;
  margin: 2.1rem 0 0 2.0rem;
}
.label_8 {
  width: 2.4rem;
  height: 2.1rem;
}
.text_30 {
  width: 7.2rem;
  height: 1.8rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.8rem;
  font-family: PingFangSC-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 1.8rem;
  margin-top: 1.8rem;
}



/* 电话信息 */
.phone-information-text-wrapper_1 {
  background-color: #D23028;
  height: 10.0rem;
  width: 192.0rem;
}
.phone-information-text_1 {
  width: 61.0rem;
  height: 6.6rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.0rem;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 6.6rem;
  margin: 1.7rem 0 0 58.9rem;
}
