.group_3 {
  background: url("./images/banner.png") no-repeat;
  background-size: contain;
  margin-bottom: 1px;
  width: 100vw;
  height: 0;
  padding-bottom: 33.35%;
}



.label_2 {
  width: 24px;
  height: 24px;
  margin: 0 0 0 28px;
}

.text-group_1 {
  height: 25px;
  width: 81.7%;
  border: none;
  outline: none;
  overflow-wrap: break-word;
  color: black;
  font-size: 18px;
  font-family: PingFangSC-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 25px;
  margin: 0 0 0 10px;
}

.text-group_1::placeholder {
  color: rgba(153, 153, 153, 1);
}

.text_9 {
  width: 144px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 25px;
}

/* 国家Grid */
.text-wrapper_101 {
  width: 660px;
  height: 190px;
}

.grid_0 {
  width: 660px;
  height: 160px;
  margin: 15px 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.text_101 {
  width: 110px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-bottom: 14px;
}

.text_102:hover {
  color: #d23028;
  cursor: pointer;
}

@media screen and (max-width: 764px) {
  .label_2 {
    width: 12px;
    height: 12px;
  }
  .text-group_1 {
    height: 12.5px;
    font-size: 9px;
  }
  .text_9 {
    width: 72px;
    height: 12.5px;
    font-size: 9px;
    line-height: 12.5px;
  }
}
