.visa-text_4 {
  height: 25px;
  font-size: 18px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 25px;
  cursor: pointer;
  margin: 0 34px 0 0;
}

.visa-text_4:hover {
  color: rgba(231, 0, 17, 1);
}

.visa-letter-selected {
  color: rgba(231, 0, 17, 1);
}
