.navbar-group_1 {
  background-color: #d23028;
  height: 4px;
}

.navbar-group_2 {
  max-width: 1600px;
  height: 90px;
  font-family: "Microsoft YaHei";
  margin: 0 auto;
}

.navbar-group_2_1 {
  height: 90px;
}

.bread {
  width: 5px;
  height: 100%;
}

.navbar-image_1 {
  cursor: pointer;
  width: 239px;
  height: 46px !important;
}

.navbar-label_1 {
  width: 34px;
  height: 34px;
  margin: 0 0 0 66px;
}

.navbar-text_2 {
  width: 169px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 33px;
  margin: 0 0 0 7px;
}

.navbar-link-wrapper_1 {
  width: 480px;
  height: 100%;
  /* margin: 0 0 0 355px; */
}

.navbar-text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  height: 90px;
  width: 120px;
  color: rgba(102, 102, 102, 1);
  text-decoration: none;
}

.navbar-overlay_1 {
  background-color: rgba(32, 33, 36, 0.04);
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 120px;
  height: 90px;
}

.navbar-text-wrapper_1:hover .navbar-overlay_1 {
  opacity: 1;
}

.navbar-text_3 {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}

.link-selected {
  color: #d23028 !important;
  opacity: 1 !important;
}

.navbar-login-button_1 {
  cursor: pointer;
  background-color: rgba(231, 0, 17, 0.05);
  height: 40px;
  width: 120px;
  margin: 0 0 0 130px;
  display: grid;
  place-items: center;
}

.navbar-login-text_1 {
  overflow-wrap: break-word;
  color: #d23028;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
}

.navbar-redline-selected {
  position: absolute;
  z-index: 2;
  width: 120px;
  height: 4px;
  background: #d23028;
  margin: 90px 0 0 0;
  opacity: 0;
}

.no-decoration {
  text-decoration: none;
}

@media screen and (max-width: 1272px) {
  .navbar-link-wrapper_1 {
    display: none !important;
  }
  .navbar-label_1 {
    display: none !important;
  }
  .navbar-text_2 {
    display: none !important;
  }
  .navbar-login-button_1 {
    margin: 0 5px 0 0 !important;
  }
}

@media screen and (max-width: 764px) {
  .navbar-group_2 {
    height: 46px !important;
  }
  .navbar-image_1 {
    width: 150px !important;
    height: 26px !important;
  }
  .navbar-login-button_1 {
    height: 25px !important;
    width: 75px !important;
    margin-left: 0px !important;
    margin-right: 5px !important;
  }
  .navbar-login-text_1 {
    font-size: 12px !important;
  }
  .navbar-group_2_1 {
    margin: 0 auto !important;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 0 0 5px;
}

.dropdown-button {
  background-color: rgba(231, 0, 17, 0.05);
  color: #d23028;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-button.small {
  font-size: 9px;
  height: 25px;
  padding: 8px;
}

.dropdown-button.large {
  font-size: 20px;
  width: 80px;
  height: 40px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  font-size: 12px;
  left: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #f9f9f9;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

