.process-box_4 {
  background-color: rgba(255, 255, 255, 1);
  height: 460px;
  width: 1920px;
  position: relative;
}
.process-box_32 {
  width: 1185px;
  height: 160px;
  margin: 38px 0 0 715px;
}
.process-text-group_65 {
  width: 490px;
  height: 72px;
  margin-top: 62px;
}
.process-text_12 {
  width: 180px;
  height: 42px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 30px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 42px;
  margin-left: 155px;
}
.process-text_13 {
  width: 490px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 10px;
}
.process-box_34 {
  width: 1710px;
  height: 80px;
  margin-left: 190px;
}
.process-image-wrapper_20 {
  width: 220px;
  height: 36px;
  margin-top: 34px;
}
.process-label_5 {
  width: 21px;
  height: 24px;
  margin-left: 99px;
}
.process-image_2 {
  width: 220px;
  height: 1px;
  margin-top: 11px;
}
.process-image-wrapper_21 {
  width: 220px;
  height: 36px;
  margin: 34px 0 0 110px;
}
.process-label_6 {
  width: 23px;
  height: 24px;
  margin-left: 79px;
}
.process-image_3 {
  width: 220px;
  height: 1px;
  margin-top: 11px;
}
.process-image-wrapper_22 {
  width: 220px;
  height: 36px;
  margin: 34px 0 0 110px;
}
.process-image_4 {
  width: 19px;
  height: 24px;
  margin-left: 100px;
}
.process-image_5 {
  width: 220px;
  height: 1px;
  margin-top: 11px;
}
.process-image-wrapper_23 {
  width: 220px;
  height: 36px;
  margin: 34px 0 0 110px;
}
.process-label_7 {
  width: 24px;
  height: 24px;
  margin-left: 98px;
}
.process-image_6 {
  width: 220px;
  height: 1px;
  margin-top: 11px;
}
.process-image-wrapper_24 {
  width: 220px;
  height: 36px;
  margin: 34px 0 0 110px;
}
.process-label_8 {
  width: 24px;
  height: 24px;
  margin-left: 98px;
}
.process-image_7 {
  width: 220px;
  height: 1px;
  margin-top: 11px;
}
.process-box_35 {
  width: 1654px;
  height: 80px;
  margin-left: 246px;
}
.process-text-group_66 {
  width: 108px;
  height: 55px;
  margin-top: 11px;
}
.process-text_14 {
  width: 108px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.process-text_15 {
  width: 78px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 15px;
}
.process-text-group_67 {
  width: 126px;
  height: 55px;
  margin: 11px 0 0 193px;
}
.process-text_16 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.process-text_17 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 4px;
}
.process-text-group_68 {
  width: 126px;
  height: 55px;
  margin: 11px 0 0 224px;
}
.process-text_18 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.process-text_19 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 4px;
}
.process-text-group_69 {
  width: 126px;
  height: 55px;
  margin: 11px 0 0 204px;
}
.process-text_20 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.process-text_21 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 4px;
}
.process-text-group_70 {
  width: 90px;
  height: 55px;
  margin: 11px 0 0 222px;
}
.process-text_22 {
  width: 90px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.process-text_23 {
  width: 90px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 10px;
}
