.group_11 {
  width: 248px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 33px;
  margin-bottom: 116px;
}
.block_9 {
  width: 80px;
  height: 80px;
  margin: 3px 0 0 1820px;
}
.group_12 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 80px;
}
.image-text_5 {
  width: 56px;
  height: 60px;
  margin: 12px 0 0 12px;
}
.label_5 {
  width: 30px;
  height: 30px;
  margin-left: 13px;
}
.text-group_5 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 10px;
}
.block_10 {
  width: 1185px;
  height: 89px;
  margin-left: 715px;
}
.text-group_6 {
  width: 490px;
  height: 72px;
  margin-top: 17px;
}
.text_20 {
  width: 180px;
  height: 42px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 30px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 42px;
  margin-left: 155px;
}
.text_21 {
  width: 490px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 10px;
}
.image-wrapper_5 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  height: 80px;
  width: 80px;
}
.label_6 {
  width: 30px;
  height: 30px;
  margin: 25px 0 0 25px;
}
.block_11 {
  width: 1540px;
  height: 82px;
  margin: 60px 0 0px 190px;
}
.list_2 {
  width: 1540px;
  height: 82px;
  justify-content: space-between;
}
.image-text_6-0 {
  width: 220px;
  height: 82px;
  margin-right: 110px;
}
.image_10-0 {
  width: 220px;
  height: 37px;
}
.text-group_7-0 {
  width: 108px;
  height: 55px;
  margin: 20px 0 30px 56px;
}
.text_22-0 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.text_23-0 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 15px;
}
.image-text_6-1 {
  width: 220px;
  height: 82px;
  margin-right: 110px;
}
.image_10-1 {
  width: 220px;
  height: 37px;
}
.text-group_7-1 {
  width: 108px;
  height: 55px;
  margin: 20px 0 30px 56px;
}
.text_22-1 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.text_23-1 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 15px;
}
.image-text_6-2 {
  width: 220px;
  height: 82px;
  margin-right: 110px;
}
.image_10-2 {
  width: 220px;
  height: 37px;
}
.text-group_7-2 {
  width: 108px;
  height: 55px;
  margin: 20px 0 30px 56px;
}
.text_22-2 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.text_23-2 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 15px;
}
.image-text_6-3 {
  width: 220px;
  height: 82px;
  margin-right: 110px;
}
.image_10-3 {
  width: 220px;
  height: 37px;
}
.text-group_7-3 {
  width: 108px;
  height: 55px;
  margin: 20px 0 30px 56px;
}
.text_22-3 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.text_23-3 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 15px;
}
.image-text_6-4 {
  width: 220px;
  height: 82px;
  margin-right: 110px;
}
.image_10-4 {
  width: 220px;
  height: 37px;
}
.text-group_7-4 {
  width: 108px;
  height: 55px;
  margin: 20px 0 30px 56px;
}
.text_22-4 {
  width: 126px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
}
.text_23-4 {
  width: 118px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 15px;
}