/* 整体 */
.consult-group_1 {
  position: fixed;
  top: 0;
  right: 10px;
  margin-top: 300px;
  z-index: 2;
}

/* 在线咨询 */
.consult-box_101 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.consult-box_101:hover {
  background-color: #d23028;
}

.consult-box_101:hover span {
  color: #ffffff;
}

/* 微信咨询 */
.consult-box_102 {
  cursor: pointer;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 80px;
}

.consult-box_102:hover {
  background-color: #5fbf57;
}

.consult-box_102:hover span {
  color: #ffffff;
}

/* 电话咨询 */
.consult-box_103 {
  cursor: pointer;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 80px;
}

.consult-box_103:hover {
  background-color: #5976f6;
}

.consult-box_103:hover span {
  color: #ffffff;
}

/* 通用 */
.consult-box_104 {
  cursor: pointer;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 80px;
  height: 80px;
}

.consult-box_104:hover {
  background-color: #d23028;
}

.consult-box_104:hover span {
  color: #ffffff;
}

.general-consult-image_1 {
  width: 30px;
  height: 30px;
  margin: 25px 0 0 25px;
}

.image-text_3 {
  width: 56px;
  height: 56px;
  margin: 10px 0 0 12px;
}

.label_3 {
  width: 30px;
  height: 30px;
  margin-left: 13px;
}

.text-group_3 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 6px;
}

.group_10 {
  width: 173px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 36px;
  font-family: ZQKziyoucusong;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 39px;
  margin-top: 5px;
}
.image-text_4 {
  width: 56px;
  height: 58px;
  margin: 10px 0 0 12px;
}
.label_4 {
  width: 30px;
  height: 30px;
  margin-left: 14px;
}
.text-group_4 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 8px;
}

.group_10 {
  width: 173px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 36px;
  text-align: center;
  white-space: nowrap;
  line-height: 39px;
  margin-top: 5px;
}
.image-text_4 {
  width: 56px;
  height: 58px;
  margin: 10px 0 0 12px;
}
.label_4 {
  width: 30px;
  height: 30px;
  margin-left: 14px;
}
.text-group_4 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 8px;
}

/* Wechat Popup */
.wechatQR-group {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 116px;
  top: 0;
  right: 100px;
  margin-top: 380px;
  z-index: 2;
  position: fixed;
}
.wechat-image-text_1 {
  width: 73px;
  height: 90px;
  margin: 13px 0 0 17px;
}
.wecharQR-image_1 {
  width: 73px;
  height: 73px;
}
.wechat-text_1 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 17px;
  margin-left: 18px;
}
.wechat-image-text_2 {
  width: 73px;
  height: 90px;
  margin: 13px 17px 0 0;
}
.wecharQR-image_2 {
  width: 73px;
  height: 73px;
}
.wechat-text_2 {
  width: 36px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 17px;
  margin-left: 19px;
}

/* Phone Popup */
.phone-group_1 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 180px;
  height: 80px;
  top: 0;
  right: 100px;
  margin-top: 460px;
  z-index: 2;
  position: fixed;
}
.phone-text-group_1 {
  width: 128px;
  height: 45px;
  margin: 17px 0 0 26px;
}
.phone-text_1 {
  width: 96px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 12px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 17px;
  margin-left: 16px;
}
.phone-text_2 {
  width: 128px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(81, 120, 255, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 25px;
  margin-top: 3px;
}
