.page {
    background-color: rgba(247, 247, 247, 1);
    position: relative;
    width: 1920px;
    height: 3384px;
    overflow: hidden;
  }
  
  .block_1 {
    width: 1920px;
    height: 815px;
  }
  
  .group_1 {
    background-color: rgba(231, 0, 17, 1);
    width: 1920px;
    height: 4px;
  }
  
  .group_2 {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 90px;
    justify-content: flex-center;
  }
  
  .image_1 {
    width: 62px;
    height: 46px;
    margin: 22px 0 0 160px;
  }
  
  .text_1 {
    width: 173px;
    height: 36px;
    overflow-wrap: break-word;
    color: rgba(231, 0, 17, 1);
    font-size: 36px;
    font-family: ZQKziyoucusong;
    font-weight: NaN;
    text-align: center;
    white-space: nowrap;
    line-height: 39px;
    margin: 27px 0 0 4px;
  }
  
  .label_1 {
    width: 32px;
    height: 32px;
    margin: 30px 0 0 67px;
  }
  
  .text_2 {
    width: 169px;
    height: 33px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    line-height: 33px;
    margin: 29px 0 0 8px;
  }
  
  .text-wrapper_1 {
    background-color: rgba(255, 255, 255, 1);
    height: 92px;
    width: 120px;
    margin: -2px 0 0 235px;
  }
  
  .text_3 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(231, 0, 17, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 38px 0 0 24px;
  }
  
  .text-wrapper_2 {
    height: 90px;
    width: 120px;
  }
  
  .text_4 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 34px 0 0 24px;
  }
  
  .text-wrapper_3 {
    height: 90px;
    width: 120px;
  }
  
  .text_5 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 34px 0 0 24px;
  }
  
  .text-wrapper_4 {
    height: 90px;
    width: 120px;
  }
  
  .text_6 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 34px 0 0 24px;
  }
  
  .text-wrapper_5 {
    height: 90px;
    width: 120px;
  }
  
  .text_7 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 34px 0 0 24px;
  }
  
  .text-wrapper_6 {
    background-color: rgba(231, 0, 17, 0.05);
    height: 40px;
    width: 120px;
    margin: 26px 160px 0 130px;
  }
  
  .text_8 {
    width: 81px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(231, 0, 17, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: center;
    white-space: nowrap;
    line-height: 25px;
    margin: 8px 0 0 20px;
  }
  
  .group_3 {
    height: 720px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5a0ae74542b74e7c40d88ecd5fe462f78b3c08e70989b72b1b26b7a496be9065)
      100% no-repeat;
    background-size: 100% 100%;
    margin-bottom: 1px;
    width: 1920px;
  }
  
  .group_4 {
    width: 120px;
    height: 4px;
    margin-left: 910px;
  }
  
  .block_2 {
    background-color: rgba(231, 0, 17, 1);
    width: 120px;
    height: 4px;
  }
  
  .group_5 {
    width: 660px;
    height: 60px;
    margin: 541px 0 115px 620px;
  }
  
  .box_1 {
    background-color: rgba(255, 255, 255, 1);
    width: 440px;
    height: 60px;
  }
  
  .image-text_1 {
    width: 196px;
    height: 25px;
    margin: 18px 0 0 28px;
  }
  
  .label_2 {
    width: 24px;
    height: 24px;
  }
  
  .text-group_1 {
    width: 162px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(153, 153, 153, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
  }
  
  .text-wrapper_7 {
    background-color: rgba(51, 51, 51, 1);
    height: 60px;
    width: 220px;
  }
  
  .text_9 {
    width: 144px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
    margin: 18px 0 0 38px;
  }
  
  .block_3 {
    background-color: rgba(247, 247, 247, 1);
    height: 1090px;
    margin-top: -1px;
    width: 1920px;
    position: relative;
  }
  
  .group_6 {
    width: 1600px;
    height: 160px;
    margin: 60px 0 0 160px;
  }
  
  .group_7 {
    background-color: rgba(255, 255, 255, 1);
    width: 1600px;
    height: 160px;
  }
  
  .image-wrapper_1 {
    background-color: rgba(231, 0, 17, 0.1);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 40px 0 0 50px;
  }
  
  .image_2 {
    width: 70px;
    height: 64px;
    margin-top: 16px;
  }
  
  .block_4 {
    width: 125px;
    height: 59px;
    margin: 51px 0 0 28px;
  }
  
  .text-wrapper_8 {
    background-color: rgba(231, 0, 17, 1);
    border-radius: 13px;
    height: 20px;
    width: 100px;
  }
  
  .text_10 {
    width: 85px;
    height: 12px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 12px;
    margin: 5px 0 0 8px;
  }
  
  .text_11 {
    width: 125px;
    height: 33px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 33px;
    margin-top: 6px;
  }
  
  .image_3 {
    width: 1px;
    height: 60px;
    margin: 50px 0 0 127px;
  }
  
  .image-wrapper_2 {
    background-color: rgba(231, 0, 17, 0.1);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 40px 0 0 51px;
  }
  
  .image_4 {
    width: 70px;
    height: 65px;
    margin-top: 15px;
  }
  
  .block_5 {
    width: 120px;
    height: 59px;
    margin: 51px 0 0 28px;
  }
  
  .text-wrapper_9 {
    background-color: rgba(231, 0, 17, 1);
    border-radius: 13px;
    height: 20px;
    width: 64px;
  }
  
  .text_12 {
    width: 48px;
    height: 12px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 12px;
    margin: 4px 0 0 8px;
  }
  
  .text_13 {
    width: 120px;
    height: 33px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 33px;
    margin-top: 6px;
  }
  
  .image_5 {
    width: 1px;
    height: 60px;
    margin: 50px 0 0 130px;
  }
  
  .image-wrapper_3 {
    background-color: rgba(231, 0, 17, 0.1);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 40px 0 0 50px;
  }
  
  .image_6 {
    width: 70px;
    height: 55px;
    margin-top: 25px;
  }
  
  .block_6 {
    width: 96px;
    height: 59px;
    margin: 51px 0 0 28px;
  }
  
  .text-wrapper_10 {
    background-color: rgba(231, 0, 17, 1);
    border-radius: 13px;
    height: 20px;
    width: 64px;
  }
  
  .text_14 {
    width: 48px;
    height: 12px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 12px;
    margin: 4px 0 0 8px;
  }
  
  .text_15 {
    width: 96px;
    height: 33px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 33px;
    margin-top: 6px;
  }
  
  .image_7 {
    width: 1px;
    height: 60px;
    margin: 50px 0 0 155px;
  }
  
  .image-wrapper_4 {
    background-color: rgba(231, 0, 17, 0.1);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 40px 0 0 50px;
  }
  
  .image_8 {
    width: 70px;
    height: 59px;
    margin-top: 21px;
  }
  
  .block_7 {
    width: 96px;
    height: 59px;
    margin: 51px 155px 0 28px;
  }
  
  .text-wrapper_11 {
    background-color: rgba(231, 0, 17, 1);
    border-radius: 13px;
    height: 20px;
    width: 64px;
  }
  
  .text_16 {
    width: 48px;
    height: 12px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 12px;
    margin: 4px 0 0 8px;
  }
  
  .text_17 {
    width: 96px;
    height: 33px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: left;
    white-space: nowrap;
    line-height: 33px;
    margin-top: 6px;
  }
  
  .group_8 {
    width: 1250px;
    height: 50px;
    margin: 60px 0 0 160px;
  }
  
  .list_1 {
    width: 1250px;
    height: 50px;
    justify-content: space-between;
  }
  
  .text-wrapper_12-0 {
    height: 50px;
    margin-right: 10px;
    width: 200px;
    background: rgba(51, 51, 51, 1);
  }
  
  .text_18-0 {
    width: 42px;
    height: 22px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 84px;
    color: rgba(255, 255, 255, 1);
  }
  
  .text-wrapper_12-1 {
    height: 50px;
    margin-right: 10px;
    width: 200px;
    background: rgba(255, 255, 255, 1);
  }
  
  .text_18-1 {
    width: 42px;
    height: 22px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 84px;
    color: rgba(102, 102, 102, 1);
  }
  
  .text-wrapper_12-2 {
    height: 50px;
    margin-right: 10px;
    width: 200px;
    background: rgba(255, 255, 255, 1);
  }
  
  .text_18-2 {
    width: 42px;
    height: 22px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 84px;
    color: rgba(102, 102, 102, 1);
  }
  
  .text-wrapper_12-3 {
    height: 50px;
    margin-right: 10px;
    width: 200px;
    background: rgba(255, 255, 255, 1);
  }
  
  .text_18-3 {
    width: 42px;
    height: 22px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 84px;
    color: rgba(102, 102, 102, 1);
  }
  
  .text-wrapper_12-4 {
    height: 50px;
    margin-right: 10px;
    width: 200px;
    background: rgba(255, 255, 255, 1);
  }
  
  .text_18-4 {
    width: 42px;
    height: 22px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 84px;
    color: rgba(102, 102, 102, 1);
  }
  
  .text-wrapper_12-5 {
    height: 50px;
    margin-right: 10px;
    width: 200px;
    background: rgba(255, 255, 255, 1);
  }
  
  .text_18-5 {
    width: 42px;
    height: 22px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 22px;
    margin: 14px 0 0 84px;
    color: rgba(102, 102, 102, 1);
  }
  
  .group_9 {
    width: 1740px;
    height: 643px;
    margin: 40px 0 77px 160px;
  }
  
  .grid_1 {
    width: 1600px;
    height: 640px;
    flex-wrap: wrap;
  }
  
  .image-text_2-0 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-0:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-0:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-0 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-0 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-1 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-1:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-1:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-1 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-1 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-2 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-2:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-2:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-2 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-2 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-3 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-3:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-3:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-3 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-3 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-4 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-4:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-4:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-4 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-4 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-5 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-5:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-5:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-5 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-5 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-6 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-6:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-6:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-6 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-6 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-7 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-7:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-7:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-7 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-7 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-8 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
    margin-right: 0;
  }
  
  .image-text_2-8:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-8:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-8 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-8 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-9 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-9:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-9:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-9 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-9 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-10 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-10:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-10:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-10 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-10 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-11 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-11:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-11:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-11 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-11 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-12 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-12:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-12:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-12 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-12 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-13 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-13:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-13:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-13 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-13 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-14 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-14:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-14:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-14 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-14 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-15 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-15:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-15:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-15 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-15 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-16 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-16:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-16:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-16 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-16 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-17 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
    margin-right: 0;
  }
  
  .image-text_2-17:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-17:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-17 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-17 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-18 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-18:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-18:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-18 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-18 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-19 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-19:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-19:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-19 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-19 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-20 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-20:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-20:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-20 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-20 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-21 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-21:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-21:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-21 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-21 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-22 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-22:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-22:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-22 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-22 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-23 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-23:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-23:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-23 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-23 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-24 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-24:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-24:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-24 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-24 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-25 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
  }
  
  .image-text_2-25:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-25:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-25 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-25 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-26 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
    margin-right: 0;
  }
  
  .image-text_2-26:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-26:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-26 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-26 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-27 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
    margin-bottom: 0;
  }
  
  .image-text_2-27:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-27:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-27 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-27 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-28 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
    margin-bottom: 0;
  }
  
  .image-text_2-28:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-28:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-28 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-28 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .image-text_2-29 {
    width: 160px;
    height: 130px;
    margin: 0 20px 40px 0;
    margin-bottom: 0;
  }
  
  .image-text_2-29:nth-child(9n) {
    margin-right: 0;
  }
  .image-text_2-29:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
  .image_9-29 {
    width: 160px;
    height: 100px;
  }
  
  .text-group_2-29 {
    width: 70px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 66px;
  }
  
  .box_2 {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    width: 80px;
    height: 80px;
    margin-top: 563px;
  }
  
  .image-text_3 {
    width: 56px;
    height: 56px;
    margin: 10px 0 0 12px;
  }
  
  .label_3 {
    width: 30px;
    height: 30px;
    margin-left: 13px;
  }
  
  .text-group_3 {
    width: 56px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 6px;
  }
  
  .group_10 {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 1820px;
    top: 1013px;
    width: 80px;
    height: 80px;
  }
  
  .image-text_4 {
    width: 56px;
    height: 58px;
    margin: 10px 0 0 12px;
  }
  
  .label_4 {
    width: 30px;
    height: 30px;
    margin-left: 14px;
  }
  
  .text-group_4 {
    width: 56px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 8px;
  }
  
  .text-wrapper_13 {
    background-color: rgba(51, 51, 51, 0.9);
    height: 40px;
    margin-top: 1440px;
    width: 1920px;
  }
  
  .text_19 {
    width: 384px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 8px 0 0 768px;
  }
  
  .block_8 {
    position: absolute;
    left: 0;
    top: 1904px;
    width: 1920px;
    height: 1441px;
  }
  
  .group_11 {
    background-color: rgba(255, 255, 255, 1);
    height: 460px;
    width: 1920px;
  }
  
  .block_9 {
    width: 80px;
    height: 80px;
    margin: 3px 0 0 1820px;
  }
  
  .group_12 {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    width: 80px;
    height: 80px;
  }
  
  .image-text_5 {
    width: 56px;
    height: 60px;
    margin: 12px 0 0 12px;
  }
  
  .label_5 {
    width: 30px;
    height: 30px;
    margin-left: 13px;
  }
  
  .text-group_5 {
    width: 56px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 10px;
  }
  
  .block_10 {
    width: 1185px;
    height: 89px;
    margin-left: 715px;
  }
  
  .text-group_6 {
    width: 490px;
    height: 72px;
    margin-top: 17px;
  }
  
  .text_20 {
    width: 180px;
    height: 42px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 30px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 42px;
    margin-left: 155px;
  }
  
  .text_21 {
    width: 490px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-top: 10px;
  }
  
  .image-wrapper_5 {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 80px;
  }
  
  .label_6 {
    width: 30px;
    height: 30px;
    margin: 25px 0 0 25px;
  }
  
  .block_11 {
    width: 1540px;
    height: 82px;
    margin: 60px 0 0 190px;
  }
  
  .list_2 {
    width: 1540px;
    height: 82px;
    justify-content: space-between;
  }
  
  .image-text_6-0 {
    width: 220px;
    height: 82px;
    margin-right: 110px;
  }
  
  .image_10-0 {
    width: 220px;
    height: 37px;
  }
  
  .text-group_7-0 {
    width: 108px;
    height: 55px;
    margin: 20px 0 30px 56px;
  }
  
  .text_22-0 {
    width: 126px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
  }
  
  .text_23-0 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 15px;
  }
  
  .image-text_6-1 {
    width: 220px;
    height: 82px;
    margin-right: 110px;
  }
  
  .image_10-1 {
    width: 220px;
    height: 37px;
  }
  
  .text-group_7-1 {
    width: 108px;
    height: 55px;
    margin: 20px 0 30px 56px;
  }
  
  .text_22-1 {
    width: 126px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
  }
  
  .text_23-1 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 15px;
  }
  
  .image-text_6-2 {
    width: 220px;
    height: 82px;
    margin-right: 110px;
  }
  
  .image_10-2 {
    width: 220px;
    height: 37px;
  }
  
  .text-group_7-2 {
    width: 108px;
    height: 55px;
    margin: 20px 0 30px 56px;
  }
  
  .text_22-2 {
    width: 126px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
  }
  
  .text_23-2 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 15px;
  }
  
  .image-text_6-3 {
    width: 220px;
    height: 82px;
    margin-right: 110px;
  }
  
  .image_10-3 {
    width: 220px;
    height: 37px;
  }
  
  .text-group_7-3 {
    width: 108px;
    height: 55px;
    margin: 20px 0 30px 56px;
  }
  
  .text_22-3 {
    width: 126px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
  }
  
  .text_23-3 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 15px;
  }
  
  .image-text_6-4 {
    width: 220px;
    height: 82px;
    margin-right: 110px;
  }
  
  .image_10-4 {
    width: 220px;
    height: 37px;
  }
  
  .text-group_7-4 {
    width: 108px;
    height: 55px;
    margin: 20px 0 30px 56px;
  }
  
  .text_22-4 {
    width: 126px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
  }
  
  .text_23-4 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin: 10px 0 0 15px;
  }
  
  .text-wrapper_14 {
    width: 1404px;
    height: 20px;
    margin: 10px 0 116px 261px;
  }
  
  .text_23 {
    width: 78px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .text_24 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 232px;
  }
  
  .text_25 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 212px;
  }
  
  .text_26 {
    width: 118px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 212px;
  }
  
  .text_27 {
    width: 90px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 226px;
  }
  
  .group_13 {
    height: 720px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng935a6e52f16edfbde45a2d98ec2bdd6b9b56321bfccce1f5628c3c1196781ffe)
      100% no-repeat;
    background-size: 100% 100%;
    width: 1920px;
  }
  
  .box_3 {
    background-color: rgba(255, 255, 255, 0.7);
    height: 498px;
    width: 1600px;
    margin: 111px 0 0 160px;
  }
  
  .text-wrapper_15 {
    width: 894px;
    height: 66px;
    margin: 107px 0 0 353px;
  }
  
  .text_28 {
    width: 894px;
    height: 66px;
    overflow-wrap: break-word;
    color: rgba(231, 0, 17, 1);
    font-size: 40px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 66px;
  }
  
  .group_14 {
    width: 1012px;
    height: 100px;
    margin: 96px 0 129px 353px;
  }
  
  .image_11 {
    width: 100px;
    height: 100px;
  }
  
  .image-text_7 {
    width: 72px;
    height: 56px;
    margin: 22px 0 0 20px;
  }
  
  .image_12 {
    width: 24px;
    height: 18px;
  }
  
  .text-group_8 {
    width: 72px;
    height: 18px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 20px;
  }
  
  .image_13 {
    width: 100px;
    height: 100px;
    margin-left: 81px;
  }
  
  .image-text_8 {
    width: 72px;
    height: 59px;
    margin: 19px 0 0 20px;
  }
  
  .label_7 {
    width: 24px;
    height: 24px;
  }
  
  .text-group_9 {
    width: 72px;
    height: 18px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 17px;
  }
  
  .image_14 {
    width: 100px;
    height: 100px;
    margin-left: 82px;
  }
  
  .section_1 {
    width: 72px;
    height: 59px;
    margin: 19px 0 0 20px;
  }
  
  .image_15 {
    width: 20px;
    height: 24px;
  }
  
  .text_29 {
    width: 72px;
    height: 18px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 17px;
  }
  
  .image_16 {
    width: 100px;
    height: 100px;
    margin-left: 81px;
  }
  
  .section_2 {
    width: 72px;
    height: 57px;
    margin: 21px 0 0 20px;
  }
  
  .label_8 {
    width: 24px;
    height: 21px;
  }
  
  .text_30 {
    width: 72px;
    height: 18px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 18px;
    margin-top: 18px;
  }
  
  .text-wrapper_16 {
    background-color: rgba(231, 0, 17, 1);
    height: 100px;
    width: 1920px;
  }
  
  .text_31 {
    width: 610px;
    height: 66px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 66px;
    margin: 17px 0 0 589px;
  }
  
  .group_15 {
    background-color: rgba(247, 247, 247, 1);
    width: 1920px;
    height: 160px;
    margin-bottom: 1px;
  }
  
  .image-text_9 {
    width: 239px;
    height: 46px;
    margin: 57px 0 0 205px;
  }
  
  .image_17 {
    width: 62px;
    height: 46px;
  }
  
  .text-group_10 {
    width: 173px;
    height: 36px;
    overflow-wrap: break-word;
    color: rgba(231, 0, 17, 1);
    font-size: 36px;
    font-family: ZQKziyoucusong;
    font-weight: NaN;
    text-align: center;
    white-space: nowrap;
    line-height: 39px;
    margin-top: 5px;
  }
  
  .text_32 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(231, 0, 17, 1);
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 68px 0 0 240px;
  }
  
  .text_33 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 68px 0 0 48px;
  }
  
  .text_34 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 68px 0 0 48px;
  }
  
  .text_35 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 68px 0 0 48px;
  }
  
  .text_36 {
    width: 72px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: right;
    white-space: nowrap;
    line-height: 25px;
    margin: 68px 0 0 48px;
  }
  
  .text-wrapper_17 {
    background-color: rgba(231, 0, 17, 0.05);
    height: 40px;
    width: 120px;
    margin: 60px 160px 0 404px;
  }
  
  .text_37 {
    width: 81px;
    height: 25px;
    overflow-wrap: break-word;
    color: rgba(231, 0, 17, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: NaN;
    text-align: center;
    white-space: nowrap;
    line-height: 25px;
    margin: 8px 0 0 20px;
  }
  
  .group_16 {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(231, 0, 17, 1);
    position: absolute;
    left: 1510px;
    top: 1400px;
    width: 410px;
    height: 80px;
  }
  
  .image_18 {
    width: 60px;
    height: 60px;
    margin: 10px 0 0 20px;
  }
  
  .image-text_10 {
    width: 285px;
    height: 33px;
    margin: 24px 35px 0 10px;
  }
  
  .text-group_11 {
    width: 248px;
    height: 33px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    line-height: 33px;
  }
  
  .image_19 {
    width: 24px;
    height: 14px;
    margin-top: 9px;
  }
  