.page {
  background-color: rgba(247, 247, 247, 1);
  position: relative;
  width: 100vw;
  height: 176.25vw;
  overflow: hidden;
}

.block_1 {
  width: 100vw;
  height: 42.45vw;
}

.group_1 {
  background-color: rgba(231, 0, 17, 1);
  width: 100vw;
  height: 0.21vw;
}

.group_2 {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 4.69vw;
  justify-content: flex-center;
}

.image_1 {
  width: 3.23vw;
  height: 2.4vw;
  margin: 1.14vw 0 0 8.33vw;
}

.text_1 {
  width: 9.02vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 1.87vw;
  font-family: ZQKziyoucusong;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.04vw;
  margin: 1.4vw 0 0 0.2vw;
}

.label_1 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 1.56vw 0 0 3.48vw;
}

.text_2 {
  width: 8.81vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.72vw;
  margin: 1.51vw 0 0 0.41vw;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  height: 4.8vw;
  width: 6.25vw;
  margin: -0.1vw 0 0 12.23vw;
}

.text_3 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 1.97vw 0 0 1.25vw;
}

.text-wrapper_2 {
  height: 4.69vw;
  width: 6.25vw;
}

.text_4 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 1.77vw 0 0 1.25vw;
}

.text-wrapper_3 {
  height: 4.69vw;
  width: 6.25vw;
}

.text_5 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 1.77vw 0 0 1.25vw;
}

.text-wrapper_4 {
  height: 4.69vw;
  width: 6.25vw;
}

.text_6 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 1.77vw 0 0 1.25vw;
}

.text-wrapper_5 {
  height: 4.69vw;
  width: 6.25vw;
}

.text_7 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 1.77vw 0 0 1.25vw;
}

.text-wrapper_6 {
  background-color: rgba(231, 0, 17, 0.05);
  height: 2.09vw;
  width: 6.25vw;
  margin: 1.35vw 8.33vw 0 6.77vw;
}

.text_8 {
  width: 4.22vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 1.04vw;
}

.group_3 {
  height: 37.5vw;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5a0ae74542b74e7c40d88ecd5fe462f78b3c08e70989b72b1b26b7a496be9065)
    100% no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0.06vw;
  width: 100vw;
}

.group_4 {
  width: 6.25vw;
  height: 0.21vw;
  margin-left: 47.4vw;
}

.block_2 {
  background-color: rgba(231, 0, 17, 1);
  width: 6.25vw;
  height: 0.21vw;
}

.group_5 {
  width: 34.38vw;
  height: 3.13vw;
  margin: 28.17vw 0 5.98vw 32.29vw;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 22.92vw;
  height: 3.13vw;
}

.image-text_1 {
  width: 10.21vw;
  height: 1.31vw;
  margin: 0.93vw 0 0 1.45vw;
}

.label_2 {
  width: 1.25vw;
  height: 1.25vw;
}

.text-group_1 {
  width: 8.44vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
}

.text-wrapper_7 {
  background-color: rgba(51, 51, 51, 1);
  height: 3.13vw;
  width: 11.46vw;
}

.text_9 {
  width: 7.5vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.93vw 0 0 1.97vw;
}

.block_3 {
  background-color: rgba(247, 247, 247, 1);
  height: 56.78vw;
  margin-top: -0.05vw;
  width: 100vw;
  position: relative;
}

.group_6 {
  width: 83.34vw;
  height: 8.34vw;
  margin: 3.12vw 0 0 8.33vw;
}

.group_7 {
  background-color: rgba(255, 255, 255, 1);
  width: 83.34vw;
  height: 8.34vw;
}

.image-wrapper_1 {
  background-color: rgba(231, 0, 17, 0.1);
  border-radius: 50%;
  height: 3.65vw;
  width: 3.65vw;
  margin: 2.08vw 0 0 2.6vw;
}

.image_2 {
  width: 3.65vw;
  height: 3.34vw;
  margin-top: 0.84vw;
}

.block_4 {
  width: 6.52vw;
  height: 3.08vw;
  margin: 2.65vw 0 0 1.45vw;
}

.text-wrapper_8 {
  background-color: rgba(231, 0, 17, 1);
  border-radius: 13px;
  height: 1.05vw;
  width: 5.21vw;
}

.text_10 {
  width: 4.43vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.63vw;
  margin: 0.26vw 0 0 0.41vw;
}

.text_11 {
  width: 6.52vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-top: 0.32vw;
}

.image_3 {
  width: 0.06vw;
  height: 3.13vw;
  margin: 2.6vw 0 0 6.61vw;
}

.image-wrapper_2 {
  background-color: rgba(231, 0, 17, 0.1);
  border-radius: 50%;
  height: 3.65vw;
  width: 3.65vw;
  margin: 2.08vw 0 0 2.65vw;
}

.image_4 {
  width: 3.65vw;
  height: 3.39vw;
  margin-top: 0.79vw;
}

.block_5 {
  width: 6.25vw;
  height: 3.08vw;
  margin: 2.65vw 0 0 1.45vw;
}

.text-wrapper_9 {
  background-color: rgba(231, 0, 17, 1);
  border-radius: 13px;
  height: 1.05vw;
  width: 3.34vw;
}

.text_12 {
  width: 2.5vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.63vw;
  margin: 0.2vw 0 0 0.41vw;
}

.text_13 {
  width: 6.25vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-top: 0.32vw;
}

.image_5 {
  width: 0.06vw;
  height: 3.13vw;
  margin: 2.6vw 0 0 6.77vw;
}

.image-wrapper_3 {
  background-color: rgba(231, 0, 17, 0.1);
  border-radius: 50%;
  height: 3.65vw;
  width: 3.65vw;
  margin: 2.08vw 0 0 2.6vw;
}

.image_6 {
  width: 3.65vw;
  height: 2.87vw;
  margin-top: 1.31vw;
}

.block_6 {
  width: 5vw;
  height: 3.08vw;
  margin: 2.65vw 0 0 1.45vw;
}

.text-wrapper_10 {
  background-color: rgba(231, 0, 17, 1);
  border-radius: 13px;
  height: 1.05vw;
  width: 3.34vw;
}

.text_14 {
  width: 2.5vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.63vw;
  margin: 0.2vw 0 0 0.41vw;
}

.text_15 {
  width: 5vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-top: 0.32vw;
}

.image_7 {
  width: 0.06vw;
  height: 3.13vw;
  margin: 2.6vw 0 0 8.07vw;
}

.image-wrapper_4 {
  background-color: rgba(231, 0, 17, 0.1);
  border-radius: 50%;
  height: 3.65vw;
  width: 3.65vw;
  margin: 2.08vw 0 0 2.6vw;
}

.image_8 {
  width: 3.65vw;
  height: 3.08vw;
  margin-top: 1.1vw;
}

.block_7 {
  width: 5vw;
  height: 3.08vw;
  margin: 2.65vw 8.07vw 0 1.45vw;
}

.text-wrapper_11 {
  background-color: rgba(231, 0, 17, 1);
  border-radius: 13px;
  height: 1.05vw;
  width: 3.34vw;
}

.text_16 {
  width: 2.5vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.63vw;
  margin: 0.2vw 0 0 0.41vw;
}

.text_17 {
  width: 5vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.72vw;
  margin-top: 0.32vw;
}

.group_8 {
  width: 65.11vw;
  height: 2.61vw;
  margin: 3.12vw 0 0 8.33vw;
}

.list_1 {
  width: 65.11vw;
  height: 2.61vw;
  justify-content: space-between;
}

.text-wrapper_12-0 {
  height: 2.61vw;
  margin-right: 0.53vw;
  width: 10.42vw;
  background: rgba(51, 51, 51, 1);
}

.text_18-0 {
  width: 2.19vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.72vw 0 0 4.37vw;
  color: rgba(255, 255, 255, 1);
}

.text-wrapper_12-1 {
  height: 2.61vw;
  margin-right: 0.53vw;
  width: 10.42vw;
  background: rgba(255, 255, 255, 1);
}

.text_18-1 {
  width: 2.19vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.72vw 0 0 4.37vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_12-2 {
  height: 2.61vw;
  margin-right: 0.53vw;
  width: 10.42vw;
  background: rgba(255, 255, 255, 1);
}

.text_18-2 {
  width: 2.19vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.72vw 0 0 4.37vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_12-3 {
  height: 2.61vw;
  margin-right: 0.53vw;
  width: 10.42vw;
  background: rgba(255, 255, 255, 1);
}

.text_18-3 {
  width: 2.19vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.72vw 0 0 4.37vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_12-4 {
  height: 2.61vw;
  margin-right: 0.53vw;
  width: 10.42vw;
  background: rgba(255, 255, 255, 1);
}

.text_18-4 {
  width: 2.19vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.72vw 0 0 4.37vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_12-5 {
  height: 2.61vw;
  margin-right: 0.53vw;
  width: 10.42vw;
  background: rgba(255, 255, 255, 1);
}

.text_18-5 {
  width: 2.19vw;
  height: 1.15vw;
  overflow-wrap: break-word;
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.72vw 0 0 4.37vw;
  color: rgba(102, 102, 102, 1);
}

.group_9 {
  width: 90.63vw;
  height: 33.49vw;
  margin: 2.08vw 0 4.01vw 8.33vw;
}

.grid_1 {
  width: 83.34vw;
  height: 33.34vw;
  flex-wrap: wrap;
}

.image-text_2-0 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-0:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-0:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-0:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-0:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-0 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-0 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-1 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-1:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-1:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-1:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-1:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-1 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-1 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-2 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-2:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-2:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-2:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-2:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-2 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-2 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-3 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-3:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-3:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-3:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-3:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-3 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-3 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-4 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-4:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-4:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-4:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-4:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-4 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-4 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-5 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-5:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-5:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-5:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-5:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-5 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-5 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-6 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-6:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-6:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-6:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-6:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-6 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-6 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-7 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-7:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-7:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-7:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-7:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-7 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-7 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-8 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
  margin-right: 0;
}

.image-text_2-8:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-8:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-8:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-8:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-8 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-8 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-9 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-9:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-9:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-9:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-9:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-9 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-9 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-10 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-10:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-10:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-10:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-10:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-10 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-10 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-11 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-11:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-11:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-11:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-11:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-11 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-11 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-12 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-12:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-12:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-12:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-12:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-12 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-12 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-13 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-13:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-13:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-13:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-13:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-13 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-13 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-14 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-14:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-14:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-14:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-14:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-14 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-14 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-15 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-15:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-15:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-15:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-15:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-15 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-15 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-16 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-16:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-16:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-16:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-16:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-16 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-16 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-17 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
  margin-right: 0;
}

.image-text_2-17:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-17:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-17:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-17:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-17 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-17 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-18 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-18:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-18:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-18:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-18:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-18 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-18 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-19 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-19:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-19:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-19:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-19:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-19 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-19 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-20 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-20:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-20:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-20:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-20:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-20 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-20 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-21 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-21:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-21:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-21:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-21:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-21 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-21 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-22 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-22:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-22:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-22:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-22:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-22 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-22 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-23 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-23:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-23:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-23:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-23:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-23 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-23 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-24 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-24:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-24:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-24:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-24:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-24 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-24 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-25 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
}

.image-text_2-25:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-25:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-25:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-25:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-25 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-25 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-26 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
  margin-right: 0;
}

.image-text_2-26:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-26:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-26:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-26:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-26 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-26 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-27 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
  margin-bottom: 0;
}

.image-text_2-27:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-27:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-27:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-27:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-27 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-27 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-28 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
  margin-bottom: 0;
}

.image-text_2-28:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-28:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-28:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-28:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-28 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-28 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.image-text_2-29 {
  width: 8.34vw;
  height: 6.78vw;
  margin: 0 1.04vw 2.08vw 0;
  margin-bottom: 0;
}

.image-text_2-29:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-29:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.image-text_2-29:nth-child(9n) {
  margin-right: 0;
}
.image-text_2-29:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image_9-29 {
  width: 8.34vw;
  height: 5.21vw;
}

.text-group_2-29 {
  width: 3.65vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 3.43vw;
}

.box_2 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 4.17vw;
  height: 4.17vw;
  margin-top: 29.33vw;
}

.image-text_3 {
  width: 2.92vw;
  height: 2.92vw;
  margin: 0.52vw 0 0 0.62vw;
}

.label_3 {
  width: 1.57vw;
  height: 1.57vw;
  margin-left: 0.68vw;
}

.text-group_3 {
  width: 2.92vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 0.32vw;
}

.group_10 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 94.8vw;
  top: 52.77vw;
  width: 4.17vw;
  height: 4.17vw;
}

.image-text_4 {
  width: 2.92vw;
  height: 3.03vw;
  margin: 0.52vw 0 0 0.62vw;
}

.label_4 {
  width: 1.57vw;
  height: 1.57vw;
  margin-left: 0.73vw;
}

.text-group_4 {
  width: 2.92vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 0.42vw;
}

.text-wrapper_13 {
  background-color: rgba(51, 51, 51, 0.9);
  height: 2.09vw;
  margin-top: 75vw;
  width: 100vw;
}

.text_19 {
  width: 20vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 40vw;
}

.block_8 {
  position: absolute;
  left: 0;
  top: 99.17vw;
  width: 100vw;
  height: 75.06vw;
}

.group_11 {
  background-color: rgba(255, 255, 255, 1);
  height: 23.96vw;
  width: 100vw;
}

.block_9 {
  width: 4.17vw;
  height: 4.17vw;
  margin: 0.15vw 0 0 94.79vw;
}

.group_12 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  width: 4.17vw;
  height: 4.17vw;
}

.image-text_5 {
  width: 2.92vw;
  height: 3.13vw;
  margin: 0.62vw 0 0 0.62vw;
}

.label_5 {
  width: 1.57vw;
  height: 1.57vw;
  margin-left: 0.68vw;
}

.text-group_5 {
  width: 2.92vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 0.53vw;
}

.block_10 {
  width: 61.72vw;
  height: 4.64vw;
  margin-left: 37.24vw;
}

.text-group_6 {
  width: 25.53vw;
  height: 3.75vw;
  margin-top: 0.89vw;
}

.text_20 {
  width: 9.38vw;
  height: 2.19vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.56vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 2.19vw;
  margin-left: 8.08vw;
}

.text_21 {
  width: 25.53vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 0.53vw;
}

.image-wrapper_5 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  height: 4.17vw;
  width: 4.17vw;
}

.label_6 {
  width: 1.57vw;
  height: 1.57vw;
  margin: 1.3vw 0 0 1.3vw;
}

.block_11 {
  width: 80.21vw;
  height: 4.28vw;
  margin: 3.12vw 0 0 9.89vw;
}

.list_2 {
  width: 80.21vw;
  height: 4.28vw;
  justify-content: space-between;
}

.image-text_6-0 {
  width: 11.46vw;
  height: 4.28vw;
  margin-right: 5.73vw;
}

.image_10-0 {
  width: 11.46vw;
  height: 1.93vw;
}

.text-group_7-0 {
  width: 5.63vw;
  height: 2.87vw;
  margin: 1.04vw 0 1.56vw 2.91vw;
}

.text_22-0 {
  width: 6.57vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
}

.text_23-0 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 0.78vw;
}

.image-text_6-1 {
  width: 11.46vw;
  height: 4.28vw;
  margin-right: 5.73vw;
}

.image_10-1 {
  width: 11.46vw;
  height: 1.93vw;
}

.text-group_7-1 {
  width: 5.63vw;
  height: 2.87vw;
  margin: 1.04vw 0 1.56vw 2.91vw;
}

.text_22-1 {
  width: 6.57vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
}

.text_23-1 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 0.78vw;
}

.image-text_6-2 {
  width: 11.46vw;
  height: 4.28vw;
  margin-right: 5.73vw;
}

.image_10-2 {
  width: 11.46vw;
  height: 1.93vw;
}

.text-group_7-2 {
  width: 5.63vw;
  height: 2.87vw;
  margin: 1.04vw 0 1.56vw 2.91vw;
}

.text_22-2 {
  width: 6.57vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
}

.text_23-2 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 0.78vw;
}

.image-text_6-3 {
  width: 11.46vw;
  height: 4.28vw;
  margin-right: 5.73vw;
}

.image_10-3 {
  width: 11.46vw;
  height: 1.93vw;
}

.text-group_7-3 {
  width: 5.63vw;
  height: 2.87vw;
  margin: 1.04vw 0 1.56vw 2.91vw;
}

.text_22-3 {
  width: 6.57vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
}

.text_23-3 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 0.78vw;
}

.image-text_6-4 {
  width: 11.46vw;
  height: 4.28vw;
  margin-right: 5.73vw;
}

.image_10-4 {
  width: 11.46vw;
  height: 1.93vw;
}

.text-group_7-4 {
  width: 5.63vw;
  height: 2.87vw;
  margin: 1.04vw 0 1.56vw 2.91vw;
}

.text_22-4 {
  width: 6.57vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
}

.text_23-4 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.52vw 0 0 0.78vw;
}

.text-wrapper_14 {
  width: 73.13vw;
  height: 1.05vw;
  margin: 0.52vw 0 6.04vw 13.59vw;
}

.text_23 {
  width: 4.07vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
}

.text_24 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-left: 12.09vw;
}

.text_25 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-left: 11.05vw;
}

.text_26 {
  width: 6.15vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-left: 11.05vw;
}

.text_27 {
  width: 4.69vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.72vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-left: 11.78vw;
}

.group_13 {
  height: 37.5vw;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng935a6e52f16edfbde45a2d98ec2bdd6b9b56321bfccce1f5628c3c1196781ffe)
    100% no-repeat;
  background-size: 100% 100%;
  width: 100vw;
}

.box_3 {
  background-color: rgba(255, 255, 255, 0.7);
  height: 25.94vw;
  width: 83.34vw;
  margin: 5.78vw 0 0 8.33vw;
}

.text-wrapper_15 {
  width: 46.57vw;
  height: 3.44vw;
  margin: 5.57vw 0 0 18.38vw;
}

.text_28 {
  width: 46.57vw;
  height: 3.44vw;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 2.08vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 3.44vw;
}

.group_14 {
  width: 52.71vw;
  height: 5.21vw;
  margin: 5vw 0 6.71vw 18.38vw;
}

.image_11 {
  width: 5.21vw;
  height: 5.21vw;
}

.image-text_7 {
  width: 3.75vw;
  height: 2.92vw;
  margin: 1.14vw 0 0 1.04vw;
}

.image_12 {
  width: 1.25vw;
  height: 0.94vw;
}

.text-group_8 {
  width: 3.75vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 1.05vw;
}

.image_13 {
  width: 5.21vw;
  height: 5.21vw;
  margin-left: 4.22vw;
}

.image-text_8 {
  width: 3.75vw;
  height: 3.08vw;
  margin: 0.98vw 0 0 1.04vw;
}

.label_7 {
  width: 1.25vw;
  height: 1.25vw;
}

.text-group_9 {
  width: 3.75vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.89vw;
}

.image_14 {
  width: 5.21vw;
  height: 5.21vw;
  margin-left: 4.28vw;
}

.section_1 {
  width: 3.75vw;
  height: 3.08vw;
  margin: 0.98vw 0 0 1.04vw;
}

.image_15 {
  width: 1.05vw;
  height: 1.25vw;
}

.text_29 {
  width: 3.75vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.89vw;
}

.image_16 {
  width: 5.21vw;
  height: 5.21vw;
  margin-left: 4.22vw;
}

.section_2 {
  width: 3.75vw;
  height: 2.97vw;
  margin: 1.09vw 0 0 1.04vw;
}

.label_8 {
  width: 1.25vw;
  height: 1.1vw;
}

.text_30 {
  width: 3.75vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.94vw;
}

.text-wrapper_16 {
  background-color: rgba(231, 0, 17, 1);
  height: 5.21vw;
  width: 100vw;
}

.text_31 {
  width: 31.78vw;
  height: 3.44vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.08vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 3.44vw;
  margin: 0.88vw 0 0 30.67vw;
}

.group_15 {
  background-color: rgba(247, 247, 247, 1);
  width: 100vw;
  height: 8.34vw;
  margin-bottom: 0.06vw;
}

.image-text_9 {
  width: 12.45vw;
  height: 2.4vw;
  margin: 2.96vw 0 0 10.67vw;
}

.image_17 {
  width: 3.23vw;
  height: 2.4vw;
}

.text-group_10 {
  width: 9.02vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 1.87vw;
  font-family: ZQKziyoucusong;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.04vw;
  margin-top: 0.27vw;
}

.text_32 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 3.54vw 0 0 12.5vw;
}

.text_33 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 3.54vw 0 0 2.5vw;
}

.text_34 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 3.54vw 0 0 2.5vw;
}

.text_35 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 3.54vw 0 0 2.5vw;
}

.text_36 {
  width: 3.75vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 3.54vw 0 0 2.5vw;
}

.text-wrapper_17 {
  background-color: rgba(231, 0, 17, 0.05);
  height: 2.09vw;
  width: 6.25vw;
  margin: 3.12vw 8.33vw 0 21.04vw;
}

.text_37 {
  width: 4.22vw;
  height: 1.31vw;
  overflow-wrap: break-word;
  color: rgba(231, 0, 17, 1);
  font-size: 0.93vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.31vw;
  margin: 0.41vw 0 0 1.04vw;
}

.group_16 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(231, 0, 17, 1);
  position: absolute;
  left: 78.65vw;
  top: 72.92vw;
  width: 21.36vw;
  height: 4.17vw;
}

.image_18 {
  width: 3.13vw;
  height: 3.13vw;
  margin: 0.52vw 0 0 1.04vw;
}

.image-text_10 {
  width: 14.85vw;
  height: 1.72vw;
  margin: 1.25vw 1.82vw 0 0.52vw;
}

.text-group_11 {
  width: 12.92vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.72vw;
}

.image_19 {
  width: 1.25vw;
  height: 0.73vw;
  margin-top: 0.47vw;
}
